In [8]:
from time import sleep
import requests
import pandas as pd
import re
import urllib

In [9]:
df = pd.read_csv('brewery_addresses.csv')
df.head()

,address,name
0,"['22 Bayview Ave Ste 15', 'Stonington, CT 0637...",The Beer'd Brewing Company
1,"['1716 Topeka St', 'Norman, OK 73069-8224 | Map']",(405) Brewing Co
2,"['407 Radam Ln Ste F200', 'Austin, TX 78745-11...",(512) Brewing Co
3,"['490 Mill St', 'Reno, NV 89502 | Map']",10 Torr Distilling and Brewing
4,"['294793 US Highway 101', 'Quilcene, WA 98376-...",101 Brewery

In [10]:
df.address[0]

"['22 Bayview Ave Ste 15', 'Stonington, CT 06378-1143 | Map']"

In [11]:
df['longitude'] = 0
df['latitude'] = 0
df.head()

,address,name,longitude,latitude
0,"['22 Bayview Ave Ste 15', 'Stonington, CT 0637...",The Beer'd Brewing Company,0,0
1,"['1716 Topeka St', 'Norman, OK 73069-8224 | Map']",(405) Brewing Co,0,0
2,"['407 Radam Ln Ste F200', 'Austin, TX 78745-11...",(512) Brewing Co,0,0
3,"['490 Mill St', 'Reno, NV 89502 | Map']",10 Torr Distilling and Brewing,0,0
4,"['294793 US Highway 101', 'Quilcene, WA 98376-...",101 Brewery,0,0

In [5]:
# # addresses = df.address
# rows = []
# for n, address in enumerate(df.address):
#   coordinates = {}
#   address = address.replace("[", "").replace("]", "").replace("'", "").replace(",", "")
#   if "|" in address:
#     address = address.split("|")[0]
#   elif "Type:" in address:
#     address = address.split("Type:")[0]
#   sleep(0.2)

#   # Wrap this in try/except because hey if it fails it fails
#   try:
#     # Form the URL with the address in it
#     url = "http://maps.googleapis.com/maps/api/geocode/json?sensor=false&address={0}".format(address)

#     # Request the URL
#     response = requests.get(url)

#     # Retry on API query limit error
#     while len(response.json()['results']) == 0 and response.json()['status'] == 'OVER_QUERY_LIMIT':
#         response = requests.get(url)
#         sleep(0.2)
#     else:
#         coords = response.json()['results'][0]['geometry']['location']
    
#     # Assign the lat/lng into the row
#     df.loc[n, 'latitude'] = coords['lat']
#     df.loc[n, 'longitude'] = coords['lng']
    
#     # Save to database
#     # THIS DOES NOTHING. MAKE SURE TO ACTUALLY SAVE.
#     print("{0} is at {1}, {2}".format(df.loc[n, 'name'], df.loc[n, 'latitude'], df.loc[n, 'longitude']))

#   except Exception as e:
#     print(e)
    
#   rows.append(coordinates)   
    
# print(rows)

In [12]:
# start at 5756
start_index = 5756

for n, address in enumerate(df.address.loc[start_index:]):
  n += start_index
  coordinates = {}
  address = address.replace("[", "").replace("]", "").replace("'", "").replace(",", "")
  if "|" in address:
    address = address.split("|")[0]
  elif "Type:" in address:
    address = address.split("Type:")[0]
  sleep(0.2)

  # Wrap this in try/except because hey if it fails it fails
  try:
    # Form the URL with the address in it
    url = "http://maps.googleapis.com/maps/api/geocode/json?sensor=false&address={0}".format(address)

    # Request the URL
    response = requests.get(url)

    # Retry on API query limit error
    while len(response.json()['results']) == 0 and response.json()['status'] == 'OVER_QUERY_LIMIT':
        response = requests.get(url)
        sleep(0.2)
    else:
        coords = response.json()['results'][0]['geometry']['location']
    
    # Assign the lat/lng into the row
    df.loc[n, 'latitude'] = coords['lat']
    df.loc[n, 'longitude'] = coords['lng']
    
    # Save to database
    # THIS DOES NOTHING. MAKE SURE TO ACTUALLY SAVE.
    print("{0}, {1}, {2}".format(df.loc[n, 'name'], df.loc[n, 'latitude'], df.loc[n, 'longitude'])) 
  except Exception as e:
    print(e)

KeyboardInterrupt:

In [ ]:
df.to_csv('addresses-part4.csv')