In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from cycler import cycler

%matplotlib inline

In [2]:
# graph styles
plt.rcdefaults()
plt.rcParams.update({
    'pdf.fonttype': 42,
    'ps.fonttype': 42,
    'patch.linewidth': 0.5,
    'figure.facecolor': 'white',
    'font.size': 12.0,
    'axes.facecolor': 'white',
    'axes.edgecolor': 'white',
    'axes.linewidth': '1',
    'axes.grid': True,
    'grid.color': '#b7b7b7',
    'axes.titlesize': 'x-large',
    'axes.labelsize': 'large',
    'axes.axisbelow': True,
    'axes.prop_cycle': cycler('color', ['#64aad4', '#275876', '#ec866c', '#8bccc9', '#f9d669', '#EBA239']),
    'xtick.major.size': 0,
    'xtick.minor.size': 0,
    'ytick.major.size': 0,
    'ytick.minor.size': 0,
    'axes.labelweight': 'medium',
    'axes.spines.left': False,
    'axes.spines.bottom': True,
    'axes.spines.top': False,
    'axes.spines.right': False,
    'legend.facecolor': '#FFFFFF',
    'font.family': 'Gulim',
})


# # matplotlib counts from the bottom and builds up
# for i, bar in enumerate(ax.patches):
#     value = int(round(bar.get_width()))
#     x_pos = bar.get_width() - 1
#     y_pos = i
# #     ax.text(x_pos, y_pos, value, verticalalignment='center')
#     ax.text(x_pos, y_pos, value, va='center', ha='right', color='white', fontweight='bold')

# ax.set_xlabel("Average life expectancy")
# ax.set_ylabel("")
# ax.set_title("Europeans really know how to live [forever]", pad=20)
# ax.title.set_fontsize(14)

In [3]:
bias_motivation = pd.read_excel("Table_1_Incidents_Offenses_Victims_and_Known_Offenders_by_Bias_Motivation_2016.xls")
offense_type = pd.read_excel("Table_2_Incidents_Offenses_Victims_and_Known_Offenders_by_Offense_Type_2016.xls")
offender_race = pd.read_excel("Table_3_Offenses_Known_Offenders_Race_and_Ethnicity_by_Offense_Type_2016.xls")
location = pd.read_excel("Table_10_Incidents_Bias_Motivation_by_Location_2016.xls")

In [4]:
bias_motivation.head()

,Table 1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"Incidents, Offenses, Victims, and Known Offenders",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"by Bias Motivation, 2016",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bias motivation,Incidents,Offenses,Victims1,Known\noffenders2,NaN,NaN,NaN
3,Total,6121,7321,7615,5770,NaN,NaN,NaN
4,Single-Bias Incidents,6063,7227,7509,5727,NaN,NaN,NaN

In [5]:
offense_type.head()

,Table 2,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"Incidents, Offenses, Victims, and Known Offenders",NaN,NaN,NaN,NaN,NaN,NaN
1,"by Offense Type, 2016",NaN,NaN,NaN,NaN,NaN,NaN
2,Offense type,Incidents1,Offenses,Victims2,Known\noffenders3,NaN,NaN
3,Total,6121,7321,7615,5770,NaN,NaN
4,Crimes against persons:,3765,4720,4720,4353,NaN,NaN

In [6]:
offender_race.drop([0,1,2,3, 23,24,25,26], inplace=True)

In [7]:
offender_race.columns = offender_race.iloc[0]
offender_race.drop([4,5], inplace=True)

In [8]:
offender_race.columns.values[0] = 'crime_type'
offender_race.columns.values[1] = 'totals'
offender_race.drop(columns='totals', inplace=True)

In [9]:
offender_race.rename(index=str, columns={"White": "white", 2: "black", 3: "native_amer", 4: "asian", 5: "native_hawaiian", 6: "multi_race_group", 7: "unknown", 8: "mult_ethnic_group"}, inplace=True)
offender_race

4,crime_type,white,Black or African American,American Indian or Alaska Native,Asian,Native Hawaiian or Other Pacific Islander,Group of multiple races,Unknown race,Hispanic or Latino,Not Hispanic or Latino,Group of multiple ethnicities,Unknown ethnicity,nan
6,Crimes against persons:,2197,1117,35,35,4,199,505,214,856,28,1880,628
7,Murder and nonnegligent manslaughter,4,5,0,0,0,0,0,0,1,0,3,0
8,Rape (revised definition)2,9,6,2,0,0,0,3,2,2,1,14,4
9,Rape (legacy definition)3,0,0,0,0,0,0,0,0,0,0,0,0
10,Aggravated assault,395,268,9,7,1,63,56,69,179,9,313,74
11,Simple assault,764,513,17,9,3,93,184,90,377,14,654,104
12,Intimidation,1015,322,7,19,0,43,262,52,288,4,893,441
13,Other4,10,3,0,0,0,0,0,1,9,0,3,5
14,Crimes against property:,429,194,12,9,3,45,504,40,153,8,564,1323
15,Robbery,25,67,3,0,0,13,11,10,30,1,47,15
16,Burglary,33,11,1,1,0,3,18,2,12,2,35,56
17,Larceny-theft,69,33,1,1,0,2,33,1,21,1,101,92
18,Motor vehicle theft,3,3,0,0,0,1,4,0,0,0,11,9
19,Arson,13,5,0,0,0,2,4,3,3,1,7,15
20,Destruction/damage/vandalism,267,69,7,7,3,24,422,23,85,3,329,1114
21,Other4,19,6,0,0,0,0,12,1,2,0,34,22
22,Crimes against society4,54,20,2,1,0,1,1,0,17,2,60,3

In [10]:
offender_race = offender_race.infer_objects()
offender_race

4,crime_type,white,Black or African American,American Indian or Alaska Native,Asian,Native Hawaiian or Other Pacific Islander,Group of multiple races,Unknown race,Hispanic or Latino,Not Hispanic or Latino,Group of multiple ethnicities,Unknown ethnicity,nan
6,Crimes against persons:,2197,1117,35,35,4,199,505,214,856,28,1880,628
7,Murder and nonnegligent manslaughter,4,5,0,0,0,0,0,0,1,0,3,0
8,Rape (revised definition)2,9,6,2,0,0,0,3,2,2,1,14,4
9,Rape (legacy definition)3,0,0,0,0,0,0,0,0,0,0,0,0
10,Aggravated assault,395,268,9,7,1,63,56,69,179,9,313,74
11,Simple assault,764,513,17,9,3,93,184,90,377,14,654,104
12,Intimidation,1015,322,7,19,0,43,262,52,288,4,893,441
13,Other4,10,3,0,0,0,0,0,1,9,0,3,5
14,Crimes against property:,429,194,12,9,3,45,504,40,153,8,564,1323
15,Robbery,25,67,3,0,0,13,11,10,30,1,47,15
16,Burglary,33,11,1,1,0,3,18,2,12,2,35,56
17,Larceny-theft,69,33,1,1,0,2,33,1,21,1,101,92
18,Motor vehicle theft,3,3,0,0,0,1,4,0,0,0,11,9
19,Arson,13,5,0,0,0,2,4,3,3,1,7,15
20,Destruction/damage/vandalism,267,69,7,7,3,24,422,23,85,3,329,1114
21,Other4,19,6,0,0,0,0,12,1,2,0,34,22
22,Crimes against society4,54,20,2,1,0,1,1,0,17,2,60,3

In [11]:
races = pd.read_excel("Table_5_Offenses_Known_Offenders_Race_and_Ethnicity_by_Bias_Motivation_2016.xls")

In [12]:
#races

In [13]:
races.drop([0,1,2,3, 5, 48, 49], inplace=True)

In [14]:
races.columns = races.iloc[0]
races.drop([4], inplace=True)

In [15]:
races.head()

4,nan,nan,White,Black or African American,American Indian or Alaska Native,Asian,Native Hawaiian or Other Pacific Islander,Group of multiple races,Unknown race,Hispanic or Latino,Not Hispanic or Latino,Group of multiple ethnicities,Unknown ethnicity,nan,nan,nan,
6,Single-Bias Incidents,7227,2661,1307,49,45,7,242,993,252,998,38,2476,1923,NaN,NaN,NaN
7,Race/Ethnicity/Ancestry:,4229,1775,781,37,32,2,150,398,135,662,22,1618,1054,NaN,NaN,NaN
8,Anti-White,876,133,452,20,6,0,27,80,22,169,9,393,158,NaN,NaN,NaN
9,Anti-Black or African American,2122,1142,80,9,17,1,88,202,82,267,5,808,583,NaN,NaN,NaN
10,Anti-American Indian or Alaska Native,161,56,28,2,0,0,3,14,1,3,0,92,58,NaN,NaN,NaN

In [29]:
races.columns.values[0] = 'crime_type'
races.columns.values[1] = 'total'

In [30]:
races

4,crime_type,total,White,Black or African American,American Indian or Alaska Native,Asian,Native Hawaiian or Other Pacific Islander,Group of multiple races,Unknown race,Hispanic or Latino,Not Hispanic or Latino,Group of multiple ethnicities,Unknown ethnicity,nan,nan,nan,
6,Single-Bias Incidents,7227,2661,1307,49,45,7,242,993,252,998,38,2476,1923,NaN,NaN,NaN
7,Race/Ethnicity/Ancestry:,4229,1775,781,37,32,2,150,398,135,662,22,1618,1054,NaN,NaN,NaN
8,Anti-White,876,133,452,20,6,0,27,80,22,169,9,393,158,NaN,NaN,NaN
9,Anti-Black or African American,2122,1142,80,9,17,1,88,202,82,267,5,808,583,NaN,NaN,NaN
10,Anti-American Indian or Alaska Native,161,56,28,2,0,0,3,14,1,3,0,92,58,NaN,NaN,NaN
11,Anti-Asian,131,65,20,2,6,0,5,9,6,28,3,40,24,NaN,NaN,NaN
12,Anti-Native Hawaiian or Other Pacific Islander,9,4,4,0,0,0,0,0,0,1,0,3,1,NaN,NaN,NaN
13,"Anti-Multiple Races, Group",178,54,33,0,1,0,9,17,2,31,1,50,64,NaN,NaN,NaN
14,Anti-Arab,56,32,6,0,1,0,3,6,4,16,0,14,8,NaN,NaN,NaN
15,Anti-Hispanic or Latino,449,228,114,2,0,1,12,24,15,112,2,150,68,NaN,NaN,NaN
16,Anti-Other Race/Ethnicity/Ancestry,247,61,44,2,1,0,3,46,3,35,2,68,90,NaN,NaN,NaN
17,Religion:,1538,389,118,5,5,2,32,410,23,100,9,364,577,NaN,NaN,NaN
18,Anti-Jewish,834,156,34,4,0,0,12,300,9,16,4,152,328,NaN,NaN,NaN
19,Anti-Catholic,63,9,3,0,2,0,3,22,4,3,0,14,24,NaN,NaN,NaN
20,Anti-Protestant,20,11,2,0,0,0,0,3,0,8,0,6,4,NaN,NaN,NaN
21,Anti-Islamic (Muslim),381,135,49,1,2,0,9,66,5,40,2,121,119,NaN,NaN,NaN
22,Anti-Other Religion,90,20,20,0,1,2,1,7,2,16,2,18,39,NaN,NaN,NaN
23,"Anti-Multiple Religions, Group",48,20,1,0,0,0,4,4,0,4,0,21,19,NaN,NaN,NaN
24,Anti-Mormon,8,2,2,0,0,0,0,0,0,4,0,0,4,NaN,NaN,NaN
25,Anti-Jehovah's Witness,3,2,0,0,0,0,0,0,0,0,0,0,1,NaN,NaN,NaN
26,"Anti-Eastern Orthodox (Russian, Greek, Other)",28,15,3,0,0,0,0,1,0,4,0,15,9,NaN,NaN,NaN
27,Anti-Other Christian,37,4,2,0,0,0,1,6,3,1,0,5,24,NaN,NaN,NaN
28,Anti-Buddhist,1,0,0,0,0,0,0,0,0,0,0,0,1,NaN,NaN,NaN
29,Anti-Hindu,12,9,0,0,0,0,1,0,0,2,0,5,2,NaN,NaN,NaN
30,Anti-Sikh,7,4,1,0,0,0,1,1,0,2,1,4,0,NaN,NaN,NaN
31,Anti-Atheism/Agnosticism/etc.,6,2,1,0,0,0,0,0,0,0,0,3,3,NaN,NaN,NaN
32,Sexual Orientation:,1218,414,326,6,6,3,49,156,80,177,7,406,258,NaN,NaN,NaN
33,Anti-Gay (Male),765,257,223,2,1,2,33,102,63,126,6,209,145,NaN,NaN,NaN
34,Anti-Lesbian,141,51,37,0,0,0,3,14,6,24,0,34,36,NaN,NaN,NaN
35,"Anti-Lesbian, Gay, Bisexual, or Transgender (M...",262,86,53,4,3,1,12,37,10,20,1,140,66,NaN,NaN,NaN
36,Anti-Heterosexual,23,12,1,0,2,0,1,0,1,1,0,9,7,NaN,NaN,NaN
37,Anti-Bisexual,27,8,12,0,0,0,0,3,0,6,0,14,4,NaN,NaN,NaN
38,Disability:,76,35,16,1,1,0,1,6,2,14,0,39,16,NaN,NaN,NaN
39,Anti-Physical,29,14,8,0,1,0,1,2,0,7,0,14,3,NaN,NaN,NaN
40,Anti-Mental,47,21,8,1,0,0,0,4,2,7,0,25,13,NaN,NaN,NaN
41,Gender:,36,18,9,0,0,0,1,4,0,8,0,17,4,NaN,NaN,NaN
42,Anti-Male,10,10,0,0,0,0,0,0,0,2,0,8,0,NaN,NaN,NaN
43,Anti-Female,26,8,9,0,0,0,1,4,0,6,0,9,4,NaN,NaN,NaN
44,Gender Identity:,130,30,57,0,1,0,9,19,12,37,0,32,14,NaN,NaN,NaN
45,Anti-Transgender,111,27,54,0,0,0,9,14,12,33,0,30,7,NaN,NaN,NaN
46,Anti-Gender Non-Conforming,19,3,3,0,1,0,0,5,0,4,0,2,7,NaN,NaN,NaN
47,Multiple-Bias Incidents2,94,19,24,0,0,0,3,17,2,28,0,28,31,NaN,NaN,NaN

In [32]:
races.drop(columns=['total', 14, 15, 16])
races.drop([6], inplace=True)

KeyError: 'labels [6] not contained in axis'

In [33]:
races

4,crime_type,total,White,Black or African American,American Indian or Alaska Native,Asian,Native Hawaiian or Other Pacific Islander,Group of multiple races,Unknown race,Hispanic or Latino,Not Hispanic or Latino,Group of multiple ethnicities,Unknown ethnicity,nan,nan,nan,
7,Race/Ethnicity/Ancestry:,4229,1775,781,37,32,2,150,398,135,662,22,1618,1054,NaN,NaN,NaN
8,Anti-White,876,133,452,20,6,0,27,80,22,169,9,393,158,NaN,NaN,NaN
9,Anti-Black or African American,2122,1142,80,9,17,1,88,202,82,267,5,808,583,NaN,NaN,NaN
10,Anti-American Indian or Alaska Native,161,56,28,2,0,0,3,14,1,3,0,92,58,NaN,NaN,NaN
11,Anti-Asian,131,65,20,2,6,0,5,9,6,28,3,40,24,NaN,NaN,NaN
12,Anti-Native Hawaiian or Other Pacific Islander,9,4,4,0,0,0,0,0,0,1,0,3,1,NaN,NaN,NaN
13,"Anti-Multiple Races, Group",178,54,33,0,1,0,9,17,2,31,1,50,64,NaN,NaN,NaN
14,Anti-Arab,56,32,6,0,1,0,3,6,4,16,0,14,8,NaN,NaN,NaN
15,Anti-Hispanic or Latino,449,228,114,2,0,1,12,24,15,112,2,150,68,NaN,NaN,NaN
16,Anti-Other Race/Ethnicity/Ancestry,247,61,44,2,1,0,3,46,3,35,2,68,90,NaN,NaN,NaN
17,Religion:,1538,389,118,5,5,2,32,410,23,100,9,364,577,NaN,NaN,NaN
18,Anti-Jewish,834,156,34,4,0,0,12,300,9,16,4,152,328,NaN,NaN,NaN
19,Anti-Catholic,63,9,3,0,2,0,3,22,4,3,0,14,24,NaN,NaN,NaN
20,Anti-Protestant,20,11,2,0,0,0,0,3,0,8,0,6,4,NaN,NaN,NaN
21,Anti-Islamic (Muslim),381,135,49,1,2,0,9,66,5,40,2,121,119,NaN,NaN,NaN
22,Anti-Other Religion,90,20,20,0,1,2,1,7,2,16,2,18,39,NaN,NaN,NaN
23,"Anti-Multiple Religions, Group",48,20,1,0,0,0,4,4,0,4,0,21,19,NaN,NaN,NaN
24,Anti-Mormon,8,2,2,0,0,0,0,0,0,4,0,0,4,NaN,NaN,NaN
25,Anti-Jehovah's Witness,3,2,0,0,0,0,0,0,0,0,0,0,1,NaN,NaN,NaN
26,"Anti-Eastern Orthodox (Russian, Greek, Other)",28,15,3,0,0,0,0,1,0,4,0,15,9,NaN,NaN,NaN
27,Anti-Other Christian,37,4,2,0,0,0,1,6,3,1,0,5,24,NaN,NaN,NaN
28,Anti-Buddhist,1,0,0,0,0,0,0,0,0,0,0,0,1,NaN,NaN,NaN
29,Anti-Hindu,12,9,0,0,0,0,1,0,0,2,0,5,2,NaN,NaN,NaN
30,Anti-Sikh,7,4,1,0,0,0,1,1,0,2,1,4,0,NaN,NaN,NaN
31,Anti-Atheism/Agnosticism/etc.,6,2,1,0,0,0,0,0,0,0,0,3,3,NaN,NaN,NaN
32,Sexual Orientation:,1218,414,326,6,6,3,49,156,80,177,7,406,258,NaN,NaN,NaN
33,Anti-Gay (Male),765,257,223,2,1,2,33,102,63,126,6,209,145,NaN,NaN,NaN
34,Anti-Lesbian,141,51,37,0,0,0,3,14,6,24,0,34,36,NaN,NaN,NaN
35,"Anti-Lesbian, Gay, Bisexual, or Transgender (M...",262,86,53,4,3,1,12,37,10,20,1,140,66,NaN,NaN,NaN
36,Anti-Heterosexual,23,12,1,0,2,0,1,0,1,1,0,9,7,NaN,NaN,NaN
37,Anti-Bisexual,27,8,12,0,0,0,0,3,0,6,0,14,4,NaN,NaN,NaN
38,Disability:,76,35,16,1,1,0,1,6,2,14,0,39,16,NaN,NaN,NaN
39,Anti-Physical,29,14,8,0,1,0,1,2,0,7,0,14,3,NaN,NaN,NaN
40,Anti-Mental,47,21,8,1,0,0,0,4,2,7,0,25,13,NaN,NaN,NaN
41,Gender:,36,18,9,0,0,0,1,4,0,8,0,17,4,NaN,NaN,NaN
42,Anti-Male,10,10,0,0,0,0,0,0,0,2,0,8,0,NaN,NaN,NaN
43,Anti-Female,26,8,9,0,0,0,1,4,0,6,0,9,4,NaN,NaN,NaN
44,Gender Identity:,130,30,57,0,1,0,9,19,12,37,0,32,14,NaN,NaN,NaN
45,Anti-Transgender,111,27,54,0,0,0,9,14,12,33,0,30,7,NaN,NaN,NaN
46,Anti-Gender Non-Conforming,19,3,3,0,1,0,0,5,0,4,0,2,7,NaN,NaN,NaN
47,Multiple-Bias Incidents2,94,19,24,0,0,0,3,17,2,28,0,28,31,NaN,NaN,NaN

In [38]:
races_transposed = races.T
#races_transposed.drop([14,15,16])
races_transposed

,7,8,9,10,11,12,13,14,15,16,...,38,39,40,41,42,43,44,45,46,47
4,,,,,,,,,,,,,,,,,,,,,
crime_type,Race/Ethnicity/Ancestry:,Anti-White,Anti-Black or African American,Anti-American Indian or Alaska Native,Anti-Asian,Anti-Native Hawaiian or Other Pacific Islander,"Anti-Multiple Races, Group",Anti-Arab,Anti-Hispanic or Latino,Anti-Other Race/Ethnicity/Ancestry,...,Disability:,Anti-Physical,Anti-Mental,Gender:,Anti-Male,Anti-Female,Gender Identity:,Anti-Transgender,Anti-Gender Non-Conforming,Multiple-Bias Incidents2
total,4229,876,2122,161,131,9,178,56,449,247,...,76,29,47,36,10,26,130,111,19,94
White,1775,133,1142,56,65,4,54,32,228,61,...,35,14,21,18,10,8,30,27,3,19
Black or\nAfrican\nAmerican,781,452,80,28,20,4,33,6,114,44,...,16,8,8,9,0,9,57,54,3,24
American\nIndian or\nAlaska Native,37,20,9,2,2,0,0,0,2,2,...,1,0,1,0,0,0,0,0,0,0
Asian,32,6,17,0,6,0,1,1,0,1,...,1,1,0,0,0,0,1,0,1,0
Native\nHawaiian\nor Other\nPacific\nIslander,2,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Group\nof\nmultiple\nraces,150,27,88,3,5,0,9,3,12,3,...,1,1,0,1,0,1,9,9,0,3
Unknown\nrace,398,80,202,14,9,0,17,6,24,46,...,6,2,4,4,0,4,19,14,5,17
Hispanic\nor\nLatino,135,22,82,1,6,0,2,4,15,3,...,2,0,2,0,0,0,12,12,0,2
Not\nHispanic\nor\nLatino,662,169,267,3,28,1,31,16,112,35,...,14,7,7,8,2,6,37,33,4,28
Group of\nmultiple\nethnicities,22,9,5,0,3,0,1,0,2,2,...,0,0,0,0,0,0,0,0,0,0
Unknown\nethnicity,1618,393,808,92,40,3,50,14,150,68,...,39,14,25,17,8,9,32,30,2,28
NaN,1054,158,583,58,24,1,64,8,68,90,...,16,3,13,4,0,4,14,7,7,31
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
races_transposed.plot(x='crime_type', kind='barh', stacked=True)
plt.show()

KeyError: 'crime_type'

In [40]:
test_df = races.T

In [41]:
test_df.reset_index(inplace=True)

In [42]:
test_df.columns = test_df.iloc[0]

In [43]:
test_df.drop([0], inplace=True)

In [44]:
test_df.rename(columns={test_df.columns[0]: "offender_race" }, inplace=True)

In [47]:
test_df.drop([1, 8, 10, 12, 13, 14, 15, 16], inplace=True)

KeyError: 'labels [ 1  8 10 12 13 14 15 16] not contained in axis'

In [48]:
test_df

,offender_race,Race/Ethnicity/Ancestry:,Anti-White,Anti-Black or African American,Anti-American Indian or Alaska Native,Anti-Asian,Anti-Native Hawaiian or Other Pacific Islander,"Anti-Multiple Races, Group",Anti-Arab,Anti-Hispanic or Latino,...,Disability:,Anti-Physical,Anti-Mental,Gender:,Anti-Male,Anti-Female,Gender Identity:,Anti-Transgender,Anti-Gender Non-Conforming,Multiple-Bias Incidents2
2,White,1775,133,1142,56,65,4,54,32,228,...,35,14,21,18,10,8,30,27,3,19
3,Black or\nAfrican\nAmerican,781,452,80,28,20,4,33,6,114,...,16,8,8,9,0,9,57,54,3,24
4,American\nIndian or\nAlaska Native,37,20,9,2,2,0,0,0,2,...,1,0,1,0,0,0,0,0,0,0
5,Asian,32,6,17,0,6,0,1,1,0,...,1,1,0,0,0,0,1,0,1,0
6,Native\nHawaiian\nor Other\nPacific\nIslander,2,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7,Group\nof\nmultiple\nraces,150,27,88,3,5,0,9,3,12,...,1,1,0,1,0,1,9,9,0,3
9,Hispanic\nor\nLatino,135,22,82,1,6,0,2,4,15,...,2,0,2,0,0,0,12,12,0,2
11,Group of\nmultiple\nethnicities,22,9,5,0,3,0,1,0,2,...,0,0,0,0,0,0,0,0,0,0

In [49]:
test_df.rename(columns={test_df.columns[1]: "race_crimes", test_df.columns[2]: "anti_white", test_df.columns[3]: "anti_black", test_df.columns[4]: "anti_native", test_df.columns[5]: "anti_asian", test_df.columns[6]: "anti_hawaiian", test_df.columns[7]: "anti_everyone", test_df.columns[8]: "anti_arab", test_df.columns[9]: "anti_hispanic", test_df.columns[10]: "anti_other",}, inplace=True)

In [50]:
# totals df contains the total number of race, religion, disability, etc crimes, sorted by race of offender
totals_df = test_df[['offender_race', 'race_crimes', 'Religion:', 'Sexual Orientation:', 'Disability:', 'Gender:', 'Gender Identity:']]
totals_df

,offender_race,race_crimes,Religion:,Sexual Orientation:,Disability:,Gender:,Gender Identity:
2,White,1775,389,414,35,18,30
3,Black or\nAfrican\nAmerican,781,118,326,16,9,57
4,American\nIndian or\nAlaska Native,37,5,6,1,0,0
5,Asian,32,5,6,1,0,1
6,Native\nHawaiian\nor Other\nPacific\nIslander,2,2,3,0,0,0
7,Group\nof\nmultiple\nraces,150,32,49,1,1,9
9,Hispanic\nor\nLatino,135,23,80,2,0,12
11,Group of\nmultiple\nethnicities,22,9,7,0,0,0

In [51]:
ax = totals_df.sort_values(by='race_crimes', ascending=False).plot(x='offender_race', kind='bar', stacked=True, figsize=(12,6))
ax.grid(False, axis='x')
ax.set_title("2016 U.S. hate crimes by offender race", pad=20)
ax.set_xlabel("Race of offender")
ax.set_ylabel("")
ax.spines.bottom=True

plt.tight_layout()
plt.savefig("2016-total-hate-crimes.pdf", facecolor=plt.gcf().get_facecolor())

In [52]:
totals2_df = test_df[['offender_race', 'Disability:', 'Gender:', 'Gender Identity:']]
totals2_df.drop([6,11], inplace=True)

/Users/Veronica/.pyenv/versions/3.6.5/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [ ]:
ax = totals2_df.sort_values(by='Gender Identity:', ascending=False).plot(x='offender_race', kind='bar', stacked=True, figsize=(12,6), color=['#8bccc9', '#f9d669', '#EBA239'])
ax.grid(False, axis='x')
ax.set_title("2016 U.S. Hate Crimes", pad=20)
ax.set_xlabel("Race of offender")
ax.set_ylabel("")
ax.spines.bottom=True

plt.tight_layout()
plt.savefig("2016-select-hate-crimes.pdf", facecolor=plt.gcf().get_facecolor())

In [ ]:
totals2_df

In [ ]:
gender_identity = test_df[['offender_race', 'Anti-Transgender',  'Anti-Gender Non-Conforming', 'Anti-Female', 'Anti-Male']]
gender_identity

In [ ]:
gender_identity.drop([4, 6, 11], inplace=True)

In [ ]:
ax = gender_identity.sort_values(by='Anti-Transgender', ascending=False).plot(x='offender_race', kind='bar', stacked=True, figsize=(12,6))
ax.grid(False, axis='x')
ax.set_title("2016 U.S. Gender and Gender Identity Crimes", pad=20)
ax.set_xlabel("Race of offender")
ax.set_ylabel("")
ax.spines.bottom=True

plt.tight_layout()
plt.savefig("gender-crimes.pdf", facecolor=plt.gcf().get_facecolor())

In [ ]:
test_df

In [ ]:
#test_df.offender_race
list(test_df.columns.values)

In [ ]:
test_df.drop([1, 13, 14, 15, 16], inplace=True)

In [ ]:
ax = test_df.plot(x='offender_race', kind='bar', stacked=True, figsize=(12,6))
#ax.legend_=None

plt.show()

In [ ]:
location.head()

In [ ]:
location.drop([0,1,2,3,52,53], inplace=True)
location.head()

In [ ]:
location.columns = location.iloc[0]
location.reset_index(inplace=True)
location.drop([0], inplace=True)
location.head()

In [ ]:
#location.drop(columns=['index'], inplace=True)
location.columns.values[0] = 'location'
location.columns.values[1] = 'total'
location

In [ ]:
location.columns.values[8] = 'test'
location.columns.values[12] = 'test2'
location

In [ ]:
location_corrected['location']

In [ ]:
location_corrected=location[['location', 'Race/\nEthnicity/\nAncestry', 'Religion', 'Sexual\norientation', 'Disability', 'Gender', 'Gender\nIdentity']]
location_corrected.drop([1, 21, 32, 46, 47], inplace=True)
location_corrected

In [ ]:
location_corrected.index

In [ ]:
#loc = location_corrected.reset_index().replace({'location': {'School/college2':'Schoolcollege/university'}}).groupby('location', sort=False).sum()
location_corrected.loc[39] += location_corrected.loc[40]

In [ ]:
location_corrected.drop([40], inplace=True)
location_corrected

In [ ]:
ax = location_corrected.sort_values(by='Race/\nEthnicity/\nAncestry', ascending=True).tail(10).plot(x='location', kind='barh', figsize=(12,6), stacked=True)
ax.grid(False, axis='y')
ax.set_title("Most common locations of hate crimes", pad=20)
ax.set_xlabel("Number of crimes")
ax.set_ylabel("")

plt.tight_layout()
plt.savefig("crime-location.pdf", facecolor=plt.gcf().get_facecolor())

In [ ]:
# get just the locations for disability, gender, and gender identity-motivated crimes
location_sample=location[['location', 'Disability', 'Gender', 'Gender\nIdentity']]

In [ ]:
location_sample.drop([1,2,4,6,7,9,10,11,13,14,16,17,19,21,23,28,30,31,32,37,44,45], inplace=True)

In [ ]:
location_sample.sort_values(by='Gender\nIdentity', ascending=True).plot(x='location', kind='barh', figsize=(10,8))
plt.show()

In [ ]:
race_location = location_sample[['Race/\nEthnicity/\nAncestry']]
race_location

In [ ]:
location_sample.drop([1,2,6,7,14,17,19,21,23,32,44], inplace=True)

In [ ]:
location_sample.sort_values(by='Sexual\norientation', ascending=True).plot(x='location', kind='barh', figsize=(10,8), stacked=True)
plt.show()

In [ ]:
# waffle chart with race of offender